<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Broccolapp!!</title>
</head><body>

Things

<script src="assets/app.js"></script>
</body></html>
